.allConteiner{
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 89vh;
    position: relative;
    
}

.infoConteiner{
    z-index: 1;
    background-color: #fff;
    max-height: 100vh;
    
    height: 100%;
    width: 25%;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.16), 9px 0px 9px 0px rgba(0, 0, 0, 0.14), 19px 0px 11px 0px rgba(0, 0, 0, 0.08), 34px 0px 14px 0px rgba(0, 0, 0, 0.02), 53px 0px 15px 0px rgba(0, 0, 0, 0.00);
}

.perfil {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border: 2px solid #1976D2;
    border-radius: 171px;
    background: lightgray -115.976px -2.382px / 190.476% 100% no-repeat;
    object-fit: cover;
  }

.nombre{
    margin-top: 20px;
    font-size: 25px;
}

.email{
    margin-top: 20px;
    font-size: 15px;
}

.nacionalidad{
    margin-top: 20px;
    font-size: 15px;
}

.antiguedad{
    margin-top: 20px;
    font-size: 15px;
}

.btnCerrarSesion{
    margin-top: 40%;
    max-width: 172px;
    width: auto;
    max-height: 35px;
    height: auto;
    border: 0.5px solid black;
    border-radius: 13px;
    background: #1976D2;
    color: var(--black, #202128);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.packsConteiner{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 80%;
}

.packsHeader{
    display: flex;
    flex-direction: row;
    background-color: #e7e7e7;
    width: 100%;
    justify-content: space-between;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.packsConteiner h1{
    font-size: 30px;
}

.packsHeader h2{
    font-size: 20px;
}

.pack{
    display: flex;
    flex-direction: row;
    background-color: #e7e7e7;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.pack h2{
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.rutinaConteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rutinaInfo {
 max-width: 100%;
 max-height: 100%;
}

.rutinaIMG img{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.tablaConteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ejercicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  .trainerConteiner{
        flex-direction: row;
        display: flex;
        height: 100%;
        min-height: 89vh;
        width: 100%;
  }

  .trainerImg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid var(--amarillo, #ffd300);
    background: url(<path-to-image>),
      lightgray -339.9px -6.981px / 190.476% 100% no-repeat;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.39),
      31px 31px 44px 0px rgba(0, 0, 0, 0.34),
      70px 70px 59px 0px rgba(0, 0, 0, 0.2),
      124px 124px 70px 0px rgba(0, 0, 0, 0.06),
      194px 194px 77px 0px rgba(0, 0, 0, 0.01);
      object-fit: cover;
  }


  .trainerInfo {
    margin-right: 90px;
    margin-left: 42px;
    margin-top: 50px;
    padding-top: 20px;
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: 
    #fff !important; 
    text-align: left;
  }