.Container{
    margin-top: 10px;
    background-image: url("../../images/imageLogo.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 15px;
    
}





/* .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
   }
   
   .labelform1 {
    margin-bottom: 20px;
   }
   
   .label1 {
    display: block;
    margin-bottom: 5px;
   }
   
   .inputNom, .inputDescription {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
   }
   
   .inputDescription {
    resize: vertical;
    height: 150px;
   }
   
   .btCreateAccount {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
   }
   
   .p1 {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
   }
   
   .labelDescription {
    margin-bottom: 20px;
   }
   
   .labelform1 {
    margin-bottom: 20px;
   }
   
   .inputNom {
    width: 250px;
    padding: 2px;
    margin-bottom: 4px;
    box-sizing: border-box;
   }
   
   .inputDescription {
    width: 250px;
    padding: 2px;
    margin-bottom: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
   }
   
   .btCreateAccount {
    display: block;
    width: 100px;
    padding: 2px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
   }
   
   .p1 {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
   } */