.formContainer {
    max-width: 400px;
    margin: 0 auto;
    align-content: center;
    display: flex;
    
  }
  .conteiner{
    border-radius:15px ;
    border: 3px solid #007bff;
    margin-top: 50px;
    background-color:rgba(128, 128, 128, 0.185);
    padding: 20px;
  
    background-size: cover;
    background-position: left top;
  }
  .formGroup {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .text{
   color:  #007bff
  }