.formContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .formGroup {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .goBack {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    position: absolute;  
    top: 0;  
    left: 0;  
    display: flex;  
    align-items: center;  
    
  }
  
  .backArrow {
    margin-right: 8px;
  }

  div.goBack > a {
    color:#007bff; 
    text-decoration: none; 
    font-weight: bold; 
  };